.covers {
    display: flex;
    flex-flow:wrap;
}


.covers img {
    padding: 1%;
    width:45%;
    height:45%;
}

.coverWrapper {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#coverSearch {
    width:60%;
    height: 100px;
    font-size: 56px;
    margin-left: 15%;
}

@media screen and (min-width:1024px)
{
    #coverSearch {
        width:90%;
        height:26px;
        font-size: 20px;
        margin-left: 0;
    }
}