<link rel="stylesheet" href="css/footer.css">
<footer class="page-footer" data-testid="footer-container">
    <div data-testid="contact-info">
    <p><b>Номер телефона: +79123966675</b></p>
    <p><b>Почта: naniban@yandex.ru</b></p>
    <p><b>PyromantisINC©</b></p>
    </div>
    <div id="links1" data-testid="link-buttons">
        <a href="https://seasoups.neocities.org" data-testid="seasoups" target="_blank"><img src="https://seasoups.neocities.org/assets/seasoupsblinkie.png" alt="Seasoups Blinkie"></a>
        <a href="https://bruno-rubim.neocities.org"><img src="https://bruno-rubim.neocities.org/images/bruno-button.gif"></a>
    </div>
</footer>