<link rel="stylesheet" href="css/header.css">
<div class="page-header">
    <div class="profile">
        <img src="../static/usertile14.bmp" alt="Profile">
    </div>
    <h1><span id="GreetUser"></span>
    </h1>
    <div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox">
        <div class="slider round">
            <span class="icon sun">✨</span>
            <span class="icon moon">🎃</span>
        </div>
    </label>
    <h2 id="textoid">Alt</h2>
    </div>
</div>