<link rel="stylesheet" href="css/main.css">
<article class="main-article">
    <h2>Главное</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non lacus lectus. Quisque euismod egestas massa in convallis. Mauris ac nisl nisi. Quisque at congue ex. Donec finibus, lectus nec porta varius, tellus neque tempus augue, id pretium orci ligula et urna.</p>
    <p>Nam eget eleifend metus. Vivamus lobortis fringilla malesuada. Sed blandit, tortor sed ornare elementum, lorem velit vulputate risus, quis varius lorem arcu id risus.</p>

    <h3>Мои хобби:</h3>
    <ul>
        <li>Компутерные игры</li>
        <li><span>Аниме</span></li>
        <li>Зефирки</li>
    </ul>
    <div id="GreetUser">тест</div>
    <script src="../utils/time.js"></script>
</article>