<link rel="stylesheet" href="css/nav.css">
<div class="main-nav">
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-btn">☰ Меню</label>
    <div class="nav-list">
        <button class = "nav-btn" data-page="main">Main</button>
        <button class = "nav-btn" data-page="about">About me</button>
        <button class = "nav-btn" data-page="skill">Skills</button>
        <button class = "nav-btn" data-page="portfolio">Portfolio</button>
        <button class = "nav-btn" data-page="Rad album covers">Rad album covers</button>
    </div>
</div>