<link rel="stylesheet" href="css/rad.css">
<input type="search">
<div class="covers">
    <img src="../static/covers/aria1.jpg" alt="Ария - Кровь за кровь">
    <img src="../static/covers/aria_chimera.jpg" alt="Ария - Химера">
    <img src="../static/covers/aria_generator.jpg" alt="Ария - Генератор зла">
    <img src="../static/covers/green_day_american_idiot.jpg" alt="Green Day - American idiot">
    <img src="../static/covers/djhigit_n_ufo.jpg" alt="Рекорд Оркестр - Джигит и НЛО">
    <img src="../static/covers/cassiopea_cross.jpg" alt="Кассиопея - Крестик">
    <img src="../static/covers/kipelov_babylon.png" alt="Кипелов - Вавилон">
</div>