<link rel="stylesheet" href="css/rad.css">
<div class="coverWrapper">
<div><input id="coverSearch" type="search"></div>
<div class="covers">
    <img class="picture" data-id="ария" src="../static/covers/aria1.jpg" alt="Ария - Кровь за кровь">
    <img class="picture" data-id="ария" src="../static/covers/aria_chimera.jpg" alt="Ария - Химера">
    <img class="picture" data-id="ария" src="../static/covers/aria_generator.jpg" alt="Ария - Генератор зла">
    <img class="picture" data-id="green day" src="../static/covers/green_day_american_idiot.jpg" alt="Green Day - American idiot">
    <img class="picture" data-id="рекорд оркестр" src="../static/covers/djhigit_n_ufo.jpg" alt="Рекорд Оркестр - Джигит и НЛО">
    <img class="picture" data-id="кассиопея" src="../static/covers/cassiopea_cross.jpg" alt="Кассиопея - Крестик">
    <img class="picture" data-id="кипелов" src="../static/covers/kipelov_babylon.png" alt="Кипелов - Вавилон">
</div>
</div>